body{
    background-color: rgb(20, 20, 20);
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*-------------------
     INDEX PAGE
-------------------*/

.index-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: auto;
    gap: 1em;
    margin: 0;
}

.index-header h3 h1 p{
    margin: 0;
}

.welcome{
    text-align: center;
    margin: 0;
    font-size: 30px;
}

.business-name{
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.slogan{
    text-align: left;
    margin: 0;
    font-size: 20px;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.index-text{
    text-align: center;
    margin: 0;
}

.info-header{
    text-align: center;
    margin: 0;
}

.index-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    text-wrap: wrap;
    gap: 1em;
    margin: 0;
    padding-bottom: 100px;
}

/*-------------------
     NAVIGATION
-------------------*/

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin: 1em;
    list-style-type: none;
}

@media screen and (max-width: 1000px){
    .navbar{
        display: none;
    }
}

.logo-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.logo{
    width: 10em;
    height: auto;
}

.navbar a{
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    overflow: hidden;
}

.navbar a:hover{
    font-weight: 700;
}

/*-------------------
     ABOUT PAGE
-------------------*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 100vh;
    width: 100%;
}

.about-wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

@media screen and (max-width: 1000px){

    .about{
        height: 90%;
        width: 100%;
    }
    .about-wrapper{
        flex-direction: column;
        gap: 1em;
        height: 100%;
        width: 100%;
        
    }
    .section-1{
        max-width: 95%;
        height: 20em;
    }
    .section-2{
        max-width: 95%;
        position: absolute;
        top: 25em;
    }
}

.header{
    text-align: center;
}

.section-1{
    text-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.section-2{
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
}

.section-2 p{
    width: 100%;
    height: 100%;
}


.img-div{
    border-radius: 16px;
    width: auto;
    height: 30em;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.les-cv a{
    text-decoration: underline;
    color: #ffa600;
    cursor: pointer;
}

.les-cv a:hover{
    font-weight: 700;
}

/*-------------------
     CV PAGE
-------------------*/

.cv-wrapper {
    height: 55em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-wrapper iframe {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 16px;
    overflow: auto;
}

.cv-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.cv-buttons div{
    margin: 0.5em;
}

.cv-btn{
    padding: 15px 20px;
    margin: 0.5em;
    background-color: rgb(199, 140, 30);
    border-radius: 10px;
    border:2px solid black;
    cursor: pointer;
}

.cv-btn a{
    text-decoration: none;
    padding: 15px 20px;
    color: black;
    font-weight: 700;
}

/*-------------------
     CONTACT PAGE
-------------------*/

.contact-header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em;
    overflow: hidden;
}

.contact-image{
    height: 20em;
    width: 20em;
}


.contact-profile-image{
    object-fit: cover;
    overflow: hidden;
    object-position: center 10%;
    border-radius: 50%;
    height: 20em;
    width: 20em;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5em;
}

@media screen and (max-width: 1000px){
    .contact-info{
        flex-direction: column;
    }
}

.adress .phone .email{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0;
}

.contact-text p{
    margin: 0;
}

.contact-text a{
    margin: 0;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}
.contact-text{
    gap: 0;
    text-align: center;
}

.svg-wrapper{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgb(199, 140, 30);
    border-radius: 180px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-wrapper svg{
    width: 1em;
    height: 1em;
}

/*-------------------
     Tjenester PAGE
-------------------*/

.tjenester-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

.tjenester-header{
    text-align: center;
    font-size: 50px;
}

.tjenester-list{
    display: grid;
    gap: 2em;
    grid-template-columns: auto auto auto;
    width: auto;
    height: auto;
}

@media screen and (max-width: 700px){
    .tjenester-list{
        grid-template-columns: auto;
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .tjenester-list{
        grid-template-columns: auto auto;
        width: 100%;
    }
}

.tjenester-item{
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75) !important;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75) !important;
    padding: 1em !important;
    list-style-type: none;
    background-color: rgb(39, 39, 39);
    height: 10em !important;
    width: 15em !important;
    border-radius: 16px !important;
    display: flex !important;
    justify-content: flex-start !important;
    flex-direction: column !important;
    text-wrap: wrap !important;
}

.tjenester-item strong{
    font-size: 20px !important;
    padding-bottom: 0.5em !important;
}

.tjenester-item p{
    font-size: 15px !important;
}

@media screen and (max-width: 1500px){
    .tjenester-item p{
        font-size: 16px;
    }
}