body{
    background-color: rgb(20, 20, 20);
    color: #ffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------
     INDEX PAGE
-------------------*/


/*-------------------
     NAVIGATION
-------------------*/

.nav-wrapper{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin: 1em;
    list-style-type: none;
}

.logo-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

.logo{
    width: 10em;
    height: auto;
}

.navbar a{
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
    overflow: hidden;
}

.navbar a:hover{
    font-weight: 700;
}

/*-------------------
     ABOUT PAGE
-------------------*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    height: 100vh;
    width: 100%;
}

.about-wrapper{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

.header{
    text-align: center;
}

.section-1{
    text-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.section-2{
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
}

.section-2 p{
    width: 100%;
    height: 100%;
}

.section-1 img{
    width: 30em;
    height: auto;
}